*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
venv
.sass-cache
.vagrant/
.gitignore
__pycache__
dist
docs
env
logs
node_modules
web/media
web/static/CACHE
stats
Dockerfile
docker-compose.yaml
LICENCE